body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}
header{
    display: flex;
    justify-content:space-between;
    padding: 10px;

}
ul{
    display: flex;
    gap: 20px
}
li{
    list-style: none;
}
a{
    color: rgb(97, 98, 99);
    text-decoration: none;
}
.aboutus {
    color: rgb(76, 187, 76);
    font-weight: bold;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}
section {
    max-width: 1000px;
}
/*section 1*/
.s1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.s1 img {
    width: 50px;
}
h1{
    color: rgb(84, 204, 84);
}
.content{
    display: flex;
    gap: 10px;
    margin: 10px;
}
/*cards*/
.cards{
    color: aliceblue;
    display: flex;
    gap: 20px;
    margin: 20px;
}
.title1{
    background-color: green;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
}
.title2{
    background-color: rgb(67, 67, 240);
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 10px;
}
.title3{
    background-color:rgb(26, 21, 21) ;
    padding: 20px;
    border-radius: 10px;
}

